.footer {
    background-color: $colorLightGray;
}

.footer-content {}

.footer-section-contact,
.footer-section-imprint {
    vertical-align: top;
    display: inline-block;
    width: 49%;

    @include respond-to(small){
    	width: 100%;
    }
}
