html{
	font-size: 112.5%;
}

body {
	font-family: 'Muli', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-content,
.main-content, 
.footer-content {
	max-width: 40em;
	margin: 0 auto;
	padding: 0 1em;
}