html{
	font-size: 112.5%;
	text-rendering: optimizeLegibility;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	color: #f00;
}

h1, h2, h3, h4, h5 {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: $colorBlue;
	text-decoration: none;
}

a:hover {
	opacity: 0.8;
}

.header-content,
.main-content, 
.footer-content {
	max-width: 40em;
	margin: 0 auto;
	padding: 0 1em;
}

.externalLink:before {
    content: url(../svg/external.svg);
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin: 2px 8px 0 0;
}