.header {
    background-color: $colorLightGray;
}

.header-content {
    padding-top: 2em;
    padding-bottom: 2em;
    h1 {
        margin: 0;
    }
}

.header-headline {
    width: 186px;
    float: left;
    overflow: hidden;

    @include respond-to(small){
        float: none;
    }
}

.social-media {
	overflow: hidden;
    .social-media-list li {
        float: left;
        margin: 0 5px 5px 0;

        img {
            width: 45px;
            @include respond-to(small){
                width: 26px;
            }
        }
    }
}