.main-content {
    padding-top: 2em;
    padding-bottom: 4em;
}

.profile {
    margin: 4em 0;
    .profile-picture {
        float: left;
        margin-right: 2em;
        width: 35%;
        height: auto;
        max-width: 150px;
        img {
            width: 100%;
            height: auto;
            @include border-radius(75px);
        }
    }
    .profile-headline {
        overflow: hidden;
        h2 {
            margin: 0;
            @include respond-to(small) {
                margin-top: 1em;
            }
        }
    }
    .profile-text {
        overflow: hidden;
        @include respond-to(small) {
            clear: both;
        }
    }
}

.buzzwords {
    overflow: hidden;
    margin-bottom: 4em;
    ul li {
        font-size: 1em;
        float: left;
        margin: 0 1em 0.5em 0;
        padding: 0 1em;
        color: #fff;
        background-color: $colorLightBlue;
        @include border-radius(1em);
    }
}