.main-content{
	padding-top: 2em;
	padding-bottom: 2em;
}

.social-media-list li{
	display: inline;
}

.profile {
	margin: 5em 0;
}

.profile-picture {
	float: left;
	margin-right: 2em;
	img{
		@include border-radius(75px);
	}
}

.profile-headline{
	overflow: hidden;

	h2{
		margin: 0;
	}
}

.profile-text{
	overflow: hidden;
}