.main-content {
    padding-top: 2em;
    padding-bottom: 4em;
}

.startimage img {
    width: 100%;
    height: auto;
}

.profile {
    margin: 4em 0;
    .profile-picture {
        float: none;
        margin: 0 auto 2em;
        width: 35%;
        height: auto;
        max-width: 150px;
        img {
            width: 100%;
            height: auto;
            @include border-radius(75px);
        }
    }
    .profile-headline {
        overflow: hidden;
        /*text-align: center;*/
    }
    .profile-text {
        overflow: hidden;
        clear: both;
        /*text-align: center;*/
    }
}

.buzzwords {
    overflow: hidden;
    margin-bottom: 4em;
    ul li {
        font-size: 0.8em;
        float: left;
        margin: 0 0.5em 0.5em 0;
        padding: 0.7em 1em;
        color: #fff;
        background-color: $colorLightBlue;
        @include border-radius(3px);
    }
}

.links {
    li {
        a {
            display: inline-block;
            width: 49%;
            @include respond-to(small) {
                width: auto;
                display: inline;
            }

            @include respond-to(medium) {
                width: auto;
                display: inline;
            }
        }
        span {
            font-style: italic;
            @include respond-to(small) {
                margin-bottom: 1em;
                display: block;
            }

            @include respond-to(medium) {
                margin-bottom: 1em;
                display: block;
            }
        }
    }
}
